:root {
    font-family: Arial, sans-serif;
    color: white;
}

body {
    background-repeat: no-repeat;
    width: 97.5vw;
    height: 98vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    image-rendering: -webkit-optimize-contrast;
    transform: translateZ(0);
    backface-visibility: hidden;
}

.hidden {
    display: none;
}

#quote {
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#weather {
    height: 300px;
    display: flex;
    justify-content: flex-end;
    font-size: 17px;
}

#clock {
    font-size: 90px;
    margin: 0;
}

#greeting {
    font-size: 25px;
    margin: 0px;
}

#todo-list {
    height: 475px;

}

li {
    width: 215px;
    font-size: 20px;
    margin-left: 700px;
    text-align: left;
}

#todo-form {
    margin-top: 20px;
}

input {
    font-size: 20px;
    text-align: center;
}

#weatherIcon {
    margin-right: 20px;
}