:root {
    font-family: Arial, sans-serif;
}

body {
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.hidden {
    display: none;
}

#quote {
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#weather {
    height: 200px;
    display: flex;
    justify-content: flex-end;
}

#clock {
    font-size: 90px;
    margin: 0;
}

#greeting {
    font-size: 25px;
    margin: 0px;
}

#todo-list {
    height: 300px;

}

li {
    font-size: 25px;
}

#todo-form {
    margin-top: 20px;
}

input {
    font-size: 20px;
}